@model PrenotazionePrestito

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">@ViewBag.Title</h1>
        <a class="btn btn-outline-dark" asp-controller="Libro" asp-action="IndexCliente" asp-route-idCliente="@ViewBag.IdCliente">Torna ai Libri Prenotati</a>
    </div>

    <form asp-action="Reserve" asp-controller="Libro" method="post" class="border rounded my-3 p-4 shadow-sm bg-light">
        <div class="mb-3">
            <label asp-for="IdLibro" class="form-label">Libro da prenotare</label>
            <select asp-for="IdLibro" asp-items="ViewBag.Libri" class="form-select"></select>
            <span asp-validation-for="IdLibro" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DataInizioPrestito" class="form-label">Data d'inizio prestito</label>
            <input type="date" id="dataInizio" asp-for="DataInizioPrestito" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="DataInizioPrestito" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DataFinePrestito" class="form-label">Data di fine prestito</label>
            <input type="date" id="dataFine" asp-for="DataFinePrestito" class="form-control" disabled/>
            <span asp-validation-for="DataFinePrestito" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark">Salva</button>
        <a class="btn btn-outline-secondary ms-2" asp-controller="Libro" asp-action="IndexCliente">Annulla</a>
    </form>
</div>

@section Scripts {
    <script src="~/js/Reserve-Book.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
